# Splunk Credentials
SPLUNK_PASSWORD=demo
SPLUNK_HEC_TOKEN=
SPLUNK_ACCESS_TOKEN=
SPLUNK_MCP_TOKEN=

# Splunk URLs
SPLUNK_HOST=https://localhost:8089
SPLUNK_HEC_URL=https://localhost:8088/services/collector/event
SPLUNK_VERIFY_SSL=false

